<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main class="page narrow-page">
    <a class="back-link" th:href="@{/restaurants/{id}(id=${cart.items[0].menuItem.restaurantId})}">
        Back to restaurant
    </a>

    <h1>Checkout</h1>

    <p class="error" th:if="${errorDeliveryAddress != null}" th:text="${errorDeliveryAddress}"></p>
    <p class="error" th:if="${errorPaymentMethod != null}" th:text="${errorPaymentMethod}"></p>

    <section class="card" th:if="${cart != null and !cart.empty}">
        <h2>Order summary</h2>

        <div class="summary-row" th:each="item : ${cart.items}">
            <span th:text="${item.menuItemName}">Item name</span>
            <span>
                x
                <span th:text="${item.quantity}">1</span>
                =
                <span th:text="${item.lineTotal}">0</span>
                €
            </span>
        </div>

        <p class="total">
            Total:
            <span th:text="${cart.total}">0</span>
            €
        </p>
    </section>

<!--TODO add a mathcing controller for this button-->

    <form class="card form-card" th:action="@{/checkout/place-order}" method="post">
        <label>
            Delivery address:
            <input type="text" name="deliveryAddress">
        </label>

        <label>
            Payment method:
            <select name="paymentMethod">
                <option value="CARD">Card</option>
                <option value="CASH">Cash</option>
            </select>
        </label>
        <button class="button" type="submit">Place order</button>
    </form>
</main>

</body>
</html>
