<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main class="page narrow-page">
    <section class="card">
        <h1>Login</h1>

<!--TODO add a mathcing controller for this button-->

        <p class="error" th:if="${error}" th:text="${error}"></p>

        <form class="form-card" th:action="@{/login}" method="post">
            <label>
                Username:
                <input type="text" name="username">
            </label>

            <label>
                Password:
                <input type="password" name="password">
            </label>
            <button class="button" type="submit">Log in</button>
        </form>

        <div style="margin-top: 24px; text-align: center;">
            <p>Don't have an account?</p>
            <a href="/register" style="display: inline-block; margin-top: 8px;">
                <button type="button" class="button secondary-button">Register</button>
            </a>
        </div>
    </section>
</main>

</body>
</html>
